<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>

<label for="Adresse">Adresse</label>
<input type="text" id="Adresse" name="Adresse"/>
<label for="incident">Type d'incident</label>
<input type="text" id="incident" name="TypeIncident"/>
<label for="ennemi">Super vilains</label>
<input type="text" id="ennemi" name="Ennemis"/>
<label for="info">Complement d'informations</label>
<input type="text" id="info" name="InfoComplementaire"/>

<br>
<br>

<div class="form-actions">
    <button type="submit" class="btn">Envoyer incident</button>
</div>
</body>
</html>