<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<label for="username">Username</label>
<input type="text" id="username" name="username"/>
<label for="password">Password</label>
<input type="password" id="password" name="password"/>
<label for="prenom">Prenom</label>
<input type="text" id="prenom" name="prenom"/>
<label for="nom">Nom</label>
<input type="text" id="Nom" name="Nom"/>
<label for="Adresse">Adresse</label>
<input type="text" id="Adresse" name="Adresse"/>
<label for="password">Email</label>
<input type="text" id="Email" name="Email"/>
<label for="Tel">Tel</label>
<input type="text" id="Tel" name="Tel"/>
<label for="Nationalite">Nationalité</label>
<input type="text" id="Nationalite" name="Nationalite"/>
<label for="DateDeNaissance">Date de Naissance</label>
<input type="Date" id="DateDeNaissance" name="DateDeNaissance"/>
<br>
<br>
<label>Super Heros</label>
<br>
<label for="identite"> Identité  Secrete</label>
<input type="text" id="identite" name="identite"/>
<label for="pouvoir">Pouvoir</label>
<input type="text" id="pouvoir" name="pouvoir"/>
<label for="pointFaible">Point Faible</label>
<input type="text" id="pointFaible" name="pointFaible"/>
<label for="score">score</label>
<input type="text" id="score" name="score"/>
<br>
<div class="form-actions">
    <button type="submit" class="btn">Inscription</button>
</div>
</body>
</html>