<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<label for="username">Username</label>
<input type="text" id="username" name="username"/>
<label for="password">Password</label>
<input type="password" id="password" name="password"/>
<label for="password">Prenom</label>
<input type="text" id="prenom" name="prenom"/>
<label for="password">Nom</label>
<input type="text" id="Nom" name="Nom"/>
<label for="password">Adresse</label>
<input type="text" id="Adresse" name="Adresse"/>
<label for="password">Email</label>
<input type="text" id="Email" name="Email"/>
<label for="password">Tel</label>
<input type="text" id="Tel" name="Tel"/>
<label for="password">Nationalité</label>
<input type="text" id="Nationalite" name="Nationalite"/>
<label for="password">Date de Naissance</label>
<input type="Date" id="DateDeNaissance" name="DateDeNaissance"/>


<div class="form-actions">
    <button type="submit" class="btn">Inscription</button>
</div>
</body>
</html>